<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/mdb.css" th:href="@{/css/mdb.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="../static/font/css/font-awesome.css" th:href="@{/css/font-awesome.css}" />

    <script th.src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th.src="@{/js/mdb.js}"></script>
    <script th.src="@{/js/popper.min.js}"></script>
    <script th.src="@{/js/bootstrap.min.js}"></script>
</head>

<body>

    <div class="container-fluid">
        <div th:fragment="header">
            <!-- <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" th:href="@{/plates}">Home</a>
                        <ul class="nav navbar-nav">
                            <li><a href="#" th:href="@{/plates}">Plates</a></li>
                            <li><a href="#" th:href="@{/plate/new}">Create Plate</a></li>
                        </ul>

                    </div>
                </div>
            </nav> -->
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark indigo">

                <!-- Navbar brand -->
                <a class="navbar-brand" href="#">Brand</a>

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#" th:href="@{/plates}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" th:href="@{/plate/new}">+</a>
                        </li>

                        <!-- Dropdown -->
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#" th:href="@{/plates}">Plates</a>
                                <a class="dropdown-item" href="#" th:href="@{/plate/new}">Plate create</a>
                            </div>
                        </li> -->

                    </ul>
                    <!-- Links -->

                    <!-- Search form -->
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" />
                    </form>
                </div>
                <!-- Collapsible content -->

            </nav>
            <!--/.Navbar-->
        </div>
    </div>
</body>

</html>