/* YOUR CUSTOM STYLES */

.plate {
    background: white;
    width: 240px;
    height: 60px;
    border-width: 3px;
    border-radius: 8px;
    border-color: gray;
    border-style: solid;
    margin: auto;
    position: relative;
    top: -10px;
    text-align: center;
}

.plate-numbers {
    font-size: 40px;
    color: black;
}

.plate-letters {
    font-size: 40px;
    color: red;
}

.plate-separate {
    font-size: 40px;
    color: white;
}

.card-date {
    color: #e91e63;
}