<html>

<head>
    <link rel="stylesheet" type="text/css" href="design/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="design/css/mdb.css">
    <link rel="stylesheet" type="text/css" href="design/css/style.css">
    <link rel="stylesheet" href="design/font/css/font-awesome.css">

    <script src="design/js/jquery-3.1.1.js"></script>
    <script src="design/js/mdb.js"></script>
    <script src="design/js/popper.min.js"></script>
    <script src="design/js/bootstrap.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h3>Saintur Batkhuu | Software Engineer</h3>
            <h4>Education</h4>
            <ul>
                <li>High School | Delgermoron Complex School | 1998 - 2008</li>
                <li>Jet School of English | Begginner, Intermediate, Advanced | 2011 - 2012</li>
                <li>Certified Software Engineer | Aptech Educatoin Center in India | 2012 - 2013</li>
                <li>Bachelor Degree of (Software Engineer) Information System | Mongolian University of Science and Technology | GPA 3.3 | 2008 - 2017</li>
            </ul>
            <h4>Projects and Freelancer</h4>
                <h5>Face Recognition App for Android</h5>
                    <p>Project was based on Android application. In order to success, I used OpenCV recognition algorithm for recognizing its human face. App can create user, train face from image by recording, export chart based report, etc.</p>

                <h5>The Visualization Architecture for Statistical Spacio-Temporal Data</h5>
                    <p>I made web site to show historical statistic data on international standardized map. Project data can be easily inserted just by copy-and-paste on text area. It can be played by time. The time goes by, the map data is being changed.</p>
            <h4>Working experience</h4>
                <h5>Vendor and Hardware Assistence | Link Bridge LLC | 2011</h5>
                <ul>
                    <li>Helped customers to decide what they really needed at any circumstances</li>
                    <li>Built personal computer processor from the scratch as customers wanted</li>
                    <li>Provided software services such as installing operating system and programs on its desktops and laptops</li>
                    <li>Network connection setup</li>
                </ul>
                <h5>Software engineer | IT Zone LLC | 2017 Feb - Present</h5>
                <ul>
                    <li>Web developing</li>
                    <li>Reporting, dashboarding section developing</li>
                    <li>Data visualization</li>
                </ul>
            <h4>Skills</h4> 
            <div class="row">
                <div class="col-md-6">
                    <h4>Programming skills</h4>
                    <ul>
                        <li>Java</li>
                        <li>Javascript</li>
                        <li>HTML, CSS</li>
                        <li>SQL, PostgreSQL</li>
                        <li>Spring Framework</li>
                        <li>C, C++</li>
                        <li>C#, ASP.NET</li>
                        <li>Tapestry</li>
                        <li>Python</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4>Other skills</h4>
                    <ul>
                        <li>Linux OS</li>
                        <li>Data Organization</li>
                        <li>Data Visualization</li>
                        <li>Data Mining</li>
                        <li>Mobile development</li>
                        <li>Web Development</li>
                        <li>English skill</li>
                    </ul>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <h4>Awards</h4>
                    <ul>
                        <li>Mathematic's olympiad of Khowsgol | Third places twice</li>
                        <li>Basketball contest of Khowsgol | Second place</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4>Other participants</h4>
                    <ul>
                        <li>Golomt bank's IT Conference 2015</li>
                        <li>MUST Information Technology Exhibition 2016</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>